#gamearea{
    box-sizing: border-box;
    border:1px solid black;
    position:relative;
}
.paddle{
    position:absolute;
    border-radius:10px;
    text-align: center;
    text-transform: capitalize;
    font-family:sans-serif;
    box-sizing: border-box;
    padding-top:2px;
}
#one{
    background-color:red;
    top:0;
    width:130px;
    height:20px;
    left:0;
}
#two{
    background-color:darkviolet;
    bottom:0;
    width:130px;
    height:20px;
    left:0;
}
#ball{
    position:absolute;
    width:25px;
    height:25px;
    border-radius:50%;
    left:0;
    top:0;
    background-color: black;
}